body, ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #fff;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif
}

.wrap {
  margin: 0 auto;
  padding: 0 12px;
}

.menu {
  background: url('../images/mbg.jpg') #ccc;
  position: relative;
}

.menu.active .nav {
  position: absolute;
  top: 40px;
  display: block;
  width: 100%;
  z-index: 10;
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.menu.active .nav li:hover {
  background: #f1f1f1;
}
.menu.active .nav li {
  color: #000;
}

.menu.active::after {
  content: '×';
  font-size: 30px;
}

@media screen and (max-width: 960px) {
  .menu::after {
    content: '☰';
    display: block;
    font-size: 28px;
    color: #fff;
    text-align: right;
    cursor: pointer;
    padding-right: 20px;
  }
  .menu .nav {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav li {
  height: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  padding: 0 36px;
  transition: all .3s;
  color: #fff;
}

.nav a {
  display: block;
  width: 100%;
}

.nav li:hover {}

.toggle {
  display: none;
}

/* 轮播 */

#slide {
  overflow: hidden;
  position: relative;
}

.slide {
  display: flex;
  transition: 1.0s;
}

.slide>li {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  /* min-height: 388px; */
}

#next, #prev {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 38px;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
}

#next:hover, #prev:hover {
  background: rgba(0, 0, 0, 0.4);
}

#next {
  right: 40px;
}

#prev {
  left: 40px;
}

#slide .pagination {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#slide .pagination li {
  width: 14px;
  height: 14px;
  margin: 0 8px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 599px) {
  #slide .pagination li {
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }
}

#slide .pagination li.active {
  background: rgb(0, 0, 0, .65);
}

#main {
  width: 100%;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 42px;
}

.content li {
  margin-bottom: 32px;
}

.content li div {
  width: 288px;
  height: 300px;
  /*  181 */
  /* background: #d8d8d8; */
}

.content li img {
  border-radius: 4px;
}

.content li h3 {
  max-width: 204px;
  line-height: 24px;
  margin: 19px 0 14px 0;
}

.content li p {
  max-width: 288px;
  line-height: 16px;
  font-size: 16px;
}

@media (min-width: 960px) {
  .wrap {
    max-width: 1120px;
  }
}

@media (max-width: 880px) {
  .hidden {
    display: none;
  }
}

@media (max-width: 640px) {
  .wrap {
    max-width: 640px;
  }
  .nav {
    padding: 24px 0 24px 0;
  }
  #section h2 {
    width: 200px;
  }
  #section p {
    width: 250px;
  }
  .toggle {
    display: block;
  }
}

/* start */

.logo {
  /* height: 130px; */
}

.product {
  margin: 24px 0;
}

.item-title {
  position: relative;
  padding: 0 12px;
}

.item-title h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.item-title .more {
  position: absolute;
  top: 0;
  right: 23px;
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  transition: all .4s;
}

.item-title .more:hover {
  color: #ff6700;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 599px) {}

.product-list li {
  margin-bottom: 24px;
  border: 1px solid #f1f1f1;
  text-align: center;
  padding: 4px;
  background: #fff;
}

.product-list li img {
  width: 100%;
  height: 180px;
}

.product-list a {
  width: 250px;
  display: block;
  position: relative;
  padding-bottom: 30px;
}

.product-list .mask {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background: #f1f1f1;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.product-list p {
  margin: 12px 0 8px;
  /* color: #fadbc7; */
  color: #000;
}

.product-list a:hover {}

footer {
  padding: 30px 0;
  font-size: 12px;
  line-height: 25px;
  background: #fafafa;
  color: #757575;
}

.footer {
  display: flex;
  align-items: center;
}

.footer img {
  max-width: 160px;
}

.footer .text {
  border-left: 2px solid #d8d8d8;
  padding-left: 30px;
  margin-left: 30px;
}

/* about */

.description {
  padding: 20px;
  line-height: 2em;
  font-size: 16px;
}

.description h3 {
  text-align: center;
}

.description p {
  margin: 12px 0;
}

.breadcrumb {
  padding: 20px 0 0;
  color: #999;
}

.breadcrumb a {
  color: #000;
}

.product_detail {
  width: 600px;
  min-height: 400px;
  position: relative;
  margin: 20px auto;
  text-align: center;
}

.product_detail .mask {
  height: 70px;
  line-height: 70px;
  bottom: -2px;
  font-size: 20px;
}

.product_detail img {
  margin-bottom: 20px;
}

@media (max-width: 599px) {
  .product_detail {
    width: 400px;
    min-height: auto;
  }

  .product_detail .mask {
    display: none;
  }
}

/* news */

.news_list, .faq_list {
  /* padding: 20px; */
}

.news_list li, .faq_list li {
  position: relative;
  line-height: 40px;
  border-bottom: dashed 1px #ccc;
  font-size: 14px;
  background-image: url(../images/list-bg.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 20px;
}

.news_list .time, .faq_list .time {
  position: absolute;
  right: 0;
  color: #ccc;
  font-size: 12px;
}

.news_list a:hover, .faq_list a:hover {
  color: #ff6700;
}